/* fix apple */
.admin .main-typography .mobile [data-widget=SelectedSport], html .mobile [data-widget=SelectedSport],
.admin .main-typography [data-widget=SelectedSport], html [data-widget=SelectedSport] {
  height: 100% !important;
}

#lateral-menu {
  width: 75px;
  -webkit-transition: all 250ms ease-in-out;
  -o-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  background-color: var(--v3-background);
  -webkit-box-shadow: 6px 0px 4px #0000005c;
  box-shadow: 6px 0px 4px #0000005c;
  z-index: 99;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: hidden;
}

.header-row-wrapper {
  -webkit-box-shadow: 6px 0px 4px #0000005c;
  box-shadow: 6px 0px 4px #0000005c;
}

#lateral-menu.active {
  width: 240px;
  border-right: 8px solid var(--v3-primary-6);
}

#lateral-menu.active .menu-item span {
  display: block;
}

#lateral-menu.active .menu-item svg,
#lateral-menu.active .menu-item svg path,
#lateral-menu.active .menu-item svg rect,
#lateral-menu.active .menu-item svg ellipse {
  fill: #ffffff;
}

#lateral-menu.active .menu-item:hover svg,
#lateral-menu.active .menu-item:hover svg path,
#lateral-menu.active .menu-item:hover svg rect,
#lateral-menu.active .menu-item:hover svg ellipse {
  fill: var(--v3-primary-6);
}

#lateral-menu.active .menu-item:hover span {
  color: var(--v3-primary-6);
}

#lateral-menu.active .menu-item.select svg,
#lateral-menu.active .menu-item.select svg path,
#lateral-menu.active .menu-item.select svg rect,
#lateral-menu.active .menu-item.select svg ellipse {
  fill: var(--v3-primary-6);
}

#lateral-menu.active .menu-item.select span {
  color: var(--v3-primary-6);
}

#lateral-menu .menu-item {
  margin: 10px 0;
  width: 25px;
  position: relative;
  text-decoration: none;
}

#lateral-menu .menu-item.select,
#lateral-menu .menu-item.select svg,
#lateral-menu .menu-item.select svg path,
#lateral-menu .menu-item.select svg rect,
#lateral-menu .menu-item.select svg ellipse,
#lateral-menu .menu-item.select span {
  fill: var(--v3-primary-6);
  color: var(--v3-primary-6);
}

#lateral-menu .menu-item > div {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  max-width: 25px;
}

#lateral-menu .menu-item svg {
  width: 25px;
}

#lateral-menu .menu-item span {
  color: #fff;
  position: absolute;
  right: 0;
  left: 0;
  margin-left: 35px;
  display: none;
  width: 100%;
  white-space: nowrap;
  top: 50%;
  height: 100%;
  line-height: 0;
}

#lateral-menu > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-left: calc((75px / 2) - 25px / 2);
  width: 100%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
}

#lateral-menu .menu-trigger {
  position: absolute;
  top: 20px;
  right: 0;
  left: 0;
  margin-left: calc((75px / 2) - 25px / 2);
  color: #fff;
  cursor: pointer;
}


#social-media-menu {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

#social-media-menu .social-media-menu-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  padding: 10px 0;
}

.main-rows .uc-row-wrapper .uc-row .container .ModuleTitle h3 span{
  font-size: 16px !important;
  font-weight: bold;
  margin-bottom: 6px;
}

.main-rows .uc-row-wrapper .uc-row .container .ModuleTitle h3{
  margin-bottom: 5px;
  font-size: 16px;
}

.main-rows .uc-row-wrapper .uc-row .container .ModuleDivider{ display: none;  }

#r479 .mainRow {
  border: solid 1px #2fc473;
  border-radius: 2em;
  padding: 15px;
}

#r479 .module-container, #r422 .module-container{
  padding: 0px 20px 0px 20px !important;
}

.main-rows .uc-row-wrapper .uc-row .container .module-container, #r422 .module-container{
  padding: 0px !important;
}

/* Barra de busca  */
.searchBar-wrapper, .searchBar-wrapper > div{
  border: solid 1px #707070;
  border-radius: 25px !important;
}

/* Ocultando o plugin que troca o idioma do site */
.blank-tradutor{
  display: none;
}

.v3-modal-mask{
  opacity: 0.5 !important;
}

#crisp-chatbox .cc-dc5e {
  visibility: hidden!important;
  max-height: 0!important;
  max-width: 0!important;
}

/* slick slide */
#m853 .slick-slide div[class^="style__Header-sc"] div[class^="style__Title-sc"],
#m961 .slick-slide div[class^="style__Header-sc"] div[class^="style__Title-sc"],
#m959 .slick-slide div[class^="style__Header-sc"] div[class^="style__Title-sc"],
#m957 .slick-slide div[class^="style__Header-sc"] div[class^="style__Title-sc"] {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}

#m853 .slick-slide div[class^="style__Wrapper-sc"],
#m961 .slick-slide div[class^="style__Wrapper-sc"],
#m959 .slick-slide div[class^="style__Wrapper-sc"],
#m957 .slick-slide div[class^="style__Wrapper-sc"] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 10px;
  padding: 4px 12px 12px;
}

#m853 .slick-slide div[class^="style__Wrapper-sc"] div[class^="style__Team-sc"],
#m961 .slick-slide div[class^="style__Wrapper-sc"] div[class^="style__Team-sc"],
#m959 .slick-slide div[class^="style__Wrapper-sc"] div[class^="style__Team-sc"],
#m957 .slick-slide div[class^="style__Wrapper-sc"] div[class^="style__Team-sc"] {
  display: inline-flex;
  -ms-flex-preferred-size: calc((100% / 3) - 10px);
  flex-basis: calc((100% / 3) - 10px);
}

#m853 .slick-slide div[class^="style__Wrapper-sc"] .am-flexbox.am-flexbox-justify-end.am-flexbox-align-center,
#m961 .slick-slide div[class^="style__Wrapper-sc"] .am-flexbox.am-flexbox-justify-end.am-flexbox-align-center,
#m959 .slick-slide div[class^="style__Wrapper-sc"] .am-flexbox.am-flexbox-justify-end.am-flexbox-align-center,
#m957 .slick-slide div[class^="style__Wrapper-sc"] .am-flexbox.am-flexbox-justify-end.am-flexbox-align-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  margin: 15px 0 0 !important;
}

#m853 .slick-slide div[class^="style__Wrapper-sc"] .am-flexbox.am-flexbox-justify-end.am-flexbox-align-center button,
#m961 .slick-slide div[class^="style__Wrapper-sc"] .am-flexbox.am-flexbox-justify-end.am-flexbox-align-center button,
#m959 .slick-slide div[class^="style__Wrapper-sc"] .am-flexbox.am-flexbox-justify-end.am-flexbox-align-center button,
#m957 .slick-slide div[class^="style__Wrapper-sc"] .am-flexbox.am-flexbox-justify-end.am-flexbox-align-center button { 
  margin-top: 0;
  border-radius: 4px;
  margin-left: 10px;
  margin-right: 10px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

#m853 .slick-slide div[class^="style__InnerItem-sc"] .style__Container-sc-vig7k4-4,
#m853 .slick-slide div[class^="style__InnerItem-sc"] .style__Container-sc-vig7k4-4 .imageOverlay,
#m853 .slick-slide div[class^="style__InnerItem-sc"] .style__Container-sc-vig7k4-4 .overlayContent,
#m961 .slick-slide div[class^="style__InnerItem-sc"] .style__Container-sc-vig7k4-4,
#m961 .slick-slide div[class^="style__InnerItem-sc"] .style__Container-sc-vig7k4-4 .imageOverlay,
#m961 .slick-slide div[class^="style__InnerItem-sc"] .style__Container-sc-vig7k4-4 .overlayContent,
#m959 .slick-slide div[class^="style__InnerItem-sc"] .style__Container-sc-vig7k4-4,
#m959 .slick-slide div[class^="style__InnerItem-sc"] .style__Container-sc-vig7k4-4 .imageOverlay,
#m959 .slick-slide div[class^="style__InnerItem-sc"] .style__Container-sc-vig7k4-4 .overlayContent,
#m957 .slick-slide div[class^="style__InnerItem-sc"] .style__Container-sc-vig7k4-4,
#m957 .slick-slide div[class^="style__InnerItem-sc"] .style__Container-sc-vig7k4-4 .imageOverlay,
#m957 .slick-slide div[class^="style__InnerItem-sc"] .style__Container-sc-vig7k4-4 .overlayContent {
  border-radius: 10px;
}

#m853 .slick-slide div[class^="style__Wrapper-sc"] div[class^="style__Team-sc"] span[class^="style__Container-sc"],
#m961 .slick-slide div[class^="style__Wrapper-sc"] div[class^="style__Team-sc"] span[class^="style__Container-sc"],
#m959 .slick-slide div[class^="style__Wrapper-sc"] div[class^="style__Team-sc"] span[class^="style__Container-sc"],
#m957 .slick-slide div[class^="style__Wrapper-sc"] div[class^="style__Team-sc"] span[class^="style__Container-sc"] {
  display: inline-block;
}

#m853 .slick-slide div[class^="style__Wrapper-sc"] div[class^="style__Team-sc"] span[class^="style__Container-sc"] span[class^="style__Logo-sc"],
#m961 .slick-slide div[class^="style__Wrapper-sc"] div[class^="style__Team-sc"] span[class^="style__Container-sc"] span[class^="style__Logo-sc"],
#m959 .slick-slide div[class^="style__Wrapper-sc"] div[class^="style__Team-sc"] span[class^="style__Container-sc"] span[class^="style__Logo-sc"],
#m957 .slick-slide div[class^="style__Wrapper-sc"] div[class^="style__Team-sc"] span[class^="style__Container-sc"] span[class^="style__Logo-sc"] {
  margin: 0 auto;
}


#m853 .slick-slide div[class^="style__Wrapper-sc"] div[class^="style__Team-sc"] span[class^="Pill__Container-sc"],
#m961 .slick-slide div[class^="style__Wrapper-sc"] div[class^="style__Team-sc"] span[class^="Pill__Container-sc"],
#m959 .slick-slide div[class^="style__Wrapper-sc"] div[class^="style__Team-sc"] span[class^="Pill__Container-sc"],
#m957 .slick-slide div[class^="style__Wrapper-sc"] div[class^="style__Team-sc"] span[class^="Pill__Container-sc"] {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  background: none;
}

#m853 .slick-slide div[class^="style__Wrapper-sc"] div[class^="style__Team-sc"]:nth-child(2) span[class^="Pill__Container-sc"],
#m961 .slick-slide div[class^="style__Wrapper-sc"] div[class^="style__Team-sc"]:nth-child(2) span[class^="Pill__Container-sc"],
#m959 .slick-slide div[class^="style__Wrapper-sc"] div[class^="style__Team-sc"]:nth-child(2) span[class^="Pill__Container-sc"],
#m957 .slick-slide div[class^="style__Wrapper-sc"] div[class^="style__Team-sc"]:nth-child(2) span[class^="Pill__Container-sc"] {
  order: -1;
}

#m853 .slick-slide div[class^="style__Wrapper-sc"] > div[class^="style__Team-sc"] > span[class^="style__Container-sc"] > span[class^="style__Logo-sc"],
#m961 .slick-slide div[class^="style__Wrapper-sc"] > div[class^="style__Team-sc"] > span[class^="style__Container-sc"] > span[class^="style__Logo-sc"],
#m959 .slick-slide div[class^="style__Wrapper-sc"] > div[class^="style__Team-sc"] > span[class^="style__Container-sc"] > span[class^="style__Logo-sc"],
#m957 .slick-slide div[class^="style__Wrapper-sc"] > div[class^="style__Team-sc"] > span[class^="style__Container-sc"] > span[class^="style__Logo-sc"] {
  margin: 0 auto;
  width: 22px;
  height: 22px;
}

#m853 .slick-slide div[class^="style__Wrapper-sc"] > div[class^="style__Team-sc"] > span[class^="style__Container-sc"]  span[class^="style__Name-sc-"],
#m961 .slick-slide div[class^="style__Wrapper-sc"] > div[class^="style__Team-sc"] > span[class^="style__Container-sc"]  span[class^="style__Name-sc-"],
#m959 .slick-slide div[class^="style__Wrapper-sc"] > div[class^="style__Team-sc"] > span[class^="style__Container-sc"]  span[class^="style__Name-sc-"],
#m957 .slick-slide div[class^="style__Wrapper-sc"] > div[class^="style__Team-sc"] > span[class^="style__Container-sc"]  span[class^="style__Name-sc-"] {
  margin-top: 6px;
  margin-left: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  justify-content: center;
}

#m853 #versus .bg-versus,
#m961 #versus .bg-versus,
#m959 #versus .bg-versus,
#m957 #versus .bg-versus {
  color: var(--v3-white);
  font-size: 15px;
}

/* Esportes */
#m251 .lazyLoad__wrapper div[class^="style__Container-sc"] div.am-flexbox.am-flexbox-justify-end.am-flexbox-align-center {
  width: 52%;
}

#m241 div.am-flexbox.am-flexbox-justify-end.am-flexbox-align-center {
  width: 42%;
}
/* DEKSTOP - NOME TIME */
#m251 div[class^="style__Team-sc-"] {
  padding-right: 53% !important;
}

/* Espaçamento mercados */
.style__Container-sc-1g0x3ss-0 .style__RadioButton-sc-3ucvic-2 {
  min-height: 35px !important;
  margin: 2px 3px !important;
  /*min-width: auto !important;*/
}

#m251 #w1w2 {
  padding-left: 45% !important;
  padding-right: 0px !important;
}

#m251 .liveGame__wrapper div[class^="style__Container-sc"] .am-flexbox,
#m251 .banner_jogos div[class^="style__Container-sc"] .am-flexbox,
#m251 .lazyLoad__wrapper div[class^="style__Container-sc"] .am-flexbox {
  width: 43%;
  float: right;
  margin-top: -47px;
  height: 50px;
}

#m251
.style__Wrapper-sc-fcwv3m-0
div[class^="style__Container-sc-"]
div[class^="style__Header-sc-"] {
  padding-right: 50%;
}

#m251 div[class^="style__Wrapper-sc-"] div[class^="style__Header-sc-vig7k4-2"] > span {
  background-color: unset;
}

#m251 #prematch-left-sidebar-wrapper {
  max-width: 25.33333% !important;
}

#m251 div.v3-col.style__SBCol-sc-19dmv8n-0.hjkYxq.v3-col-xs-14 {
  max-width: 53.333333% !important;
}

#m239 div[class^="style__Team-sc-"] {
  padding-right: 55%;
}

/* ao vivo */
#m241 div[class^="style__Team-sc-"] {
  padding-right: 45%;
}

#prematch-left-sidebar-wrapper div[class^="style__Team-sc-"] {
  padding-right: 53% !important;
}

#prematch-left-sidebar-wrapper .liveGame__wrapper div[class^="style__Container-sc"] .am-flexbox,
#prematch-left-sidebar-wrapper .banner_jogos div[class^="style__Container-sc"] .am-flexbox,
#prematch-left-sidebar-wrapper .lazyLoad__wrapper div[class^="style__Container-sc"] .am-flexbox {
  width: 43%;
  float: right;
  margin-top: -47px;
  height: 50px;
}

div[class^="style__Container-sc"] .am-flexbox button:not([role="switch"]) {
  border-radius: 0;
  text-align: center;
  display: block;
  height: 44px;
  margin-top: -3px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

#prematch-left-sidebar-wrapper
> div
> div.lazyLoad__wrapper
> div
> div.liveGame__wrapper
> a
> div
div[class^="style__Header-sc-"] {
  padding-right: 40%;
}

div[class^="style__Container-sc"] .am-flexbox button span:nth-child(1) {
  display: block;
}

#prematch-left-sidebar-wrapper div.liveGame__wrapper div[class^="style__Header-sc-vig7k4-2"] > span {
  background-color: unset;
}

/* home nome components */
#m848 .uc-content span {
  display: flex;
}
#m753 .x-casinoGamesByCategories__categoryName,
#m848 .uc-content span {
  justify-content: flex-start;
  align-items: center;
  position: relative;
}
#m753 .x-casinoGamesByCategories__categoryName svg,
#m848 .uc-content span svg {
  order: -1;
  margin-right: 10px;
}
#m753 .x-casinoGamesByCategories__categoryName svg,
#m753 .x-casinoGamesByCategories__categoryName svg path,
#m753 .x-casinoGamesByCategories__categoryName svg rect,
#m753 .x-casinoGamesByCategories__categoryName svg ellipse,
#m871 .uc-content span svg path,
#m848 .uc-content span svg path {
  fill: var(--v3-text-color);
}
#m753 .x-casinoGamesByCategories__categoryName__viewAll {
  right: 0;
  position: absolute;
}

/* favoritos cassino */
#m1096 .style__Container-sc-gq0272-0.fQzLTZ,
#m1097 .style__Container-sc-gq0272-0.fQzLTZ,
#prematch-left-sidebar-wrapper .Competitions__FavoriteIconWrapper__FavoriteIcon,
#m239 .Competitions__FavoriteIconWrapper__FavoriteIcon,
#m251 .style__Container-sc-gq0272-0.jXxNfk.favIcon,
#m239 .style__Container-sc-gq0272-0.jXxNfk.favIcon,
#m241 .style__Container-sc-gq0272-0.jXxNfk.favIcon,
#prematch-left-sidebar-wrapper .style__Container-sc-gq0272-0.jXxNfk.favIcon,
#m251 .style__Container-sc-gq0272-0.kbsxNo,
#m217 .style__Container-sc-gq0272-0.kbsxNo,
#m753 .style__Container-sc-gq0272-0.fQzLTZ,
#m846 .style__Container-sc-gq0272-0.fQzLTZ,
#m749 .style__Container-sc-gq0272-0.fQzLTZ,
#m750 .style__Container-sc-gq0272-0.fQzLTZ {
  color: #808080!important;
}

#prematch-left-sidebar-wrapper .Competitions__FavoriteIconWrapper__FavoriteIcon__active,
#m239 .Competitions__FavoriteIconWrapper__FavoriteIcon__active {
  color: var(--v3-primary-6)!important;
}

/* Estilo apenas do Desktop */
@media only screen and (min-width: 961px) {
  
  #lateral-menu #social-media-menu{ visibility:hidden; }
  /*  #lateral-menu.active #social-media-menu{ 
    display: block;
    margin-left: -10px;
  }*/
  
  #lateral-menu #social-media-menu .social-media-menu-container{
    padding-top: 20px;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-flex-line-pack:  justify;
    align-content:  space-between;
  }
  
  #lateral-menu #social-media-menu img{
    width: 45px;
  }
  
  #lateral-menu .ModuleLanguageSwitcher {
    zoom: 0.5;
    /*    margin-left: -15px;
    padding-left: 15px;*/
  }
  
  #lateral-menu #lang-switcher-884 .name {
    display: none;
  }
  
  #lateral-menu.active #lang-switcher-884 .name {
    display: block;
  }
  
  #lateral-menu.active .ModuleLanguageSwitcher {
    zoom: 0.7;
  }
  
  #lang-switcher-884.languages .main-language {
    min-width: 90px;
  }
  
  #lateral-menu .ModuleLanguageSwitcher .languages {
    max-width: 93px;
  }
  
  #lateral-menu.active .ModuleLanguageSwitcher .languages {
    max-width: 190px;
  }
  
  .main-rows{
    margin-left: 70px;
  }
  
  /* Alinhamento dos blocos Desktop */
  .main-rows .uc-row-wrapper .uc-row .container{
    width: 1150px !important;
    padding-left: 35px !important;
  }
  
  .searchBar-wrapper, .searchBar-wrapper svg{
    fill:  #707070;
  }
  
  .searchBar-wrapper input {
    margin-left:  5px;
  }
  
  .searchBar-wrapper input::-webkit-input-placeholder {
    color: #707070 !important;
    padding-left:  10px;  
  }
  
  .searchBar-wrapper input::-moz-placeholder {
    color: #707070 !important;
    padding-left:  10px;  
  }
  
  .searchBar-wrapper input:-ms-input-placeholder {
    color: #707070 !important;
    padding-left:  10px;  
  }
  
  .searchBar-wrapper input::-ms-input-placeholder {
    color: #707070 !important;
    padding-left:  10px;  
  }
  
  .searchBar-wrapper input::placeholder {
    color: #707070 !important;
    padding-left:  10px;  
  }
  
  .style__Wrapper-sc-qbxr52-0{
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
  }
  
  .x-casinoGamesByCategories__categoryName{
    margin-top: 20px;
    font-size: 17px;
    margin-bottom: 20px;
  }
  /*  div[data-widget="CasinoGames"] {
    
  }*/
  
  /* Arredondamento das imagens dos jogos  */
  
  /*.x-casinoGameCardDesktop__gameInfo,
  {
    border-radius: 30px !important;
  }*/
  
  .x-casinoGameCardImageWrapper .x-casinoGameCardDesktop__buttons,
  .x-casinoGameCardImageWrapper .x-casinoGameCardImageWrapper__image,
  .x-casinoGameCardImageWrapper .x-casinoGameCardImageWrapper__image:hover
  {
    border-radius: 30px 30px 0 0;
  }
  
  .x-casinoGameCardDesktop__gameInfo{
    padding: 20px;
    /*margin-top: 5px;*/
    border-radius: 0 0 30px 30px;
  }
  
  #m846 .x-casinoGameCardImageWrapper .x-casinoGameCardImageWrapper__image,
  #m846 .x-casinoGameCardImageWrapper .x-casinoGameCardImageWrapper__image:hover,
  #r421 .x-casinoGameCardImageWrapper .x-casinoGameCardImageWrapper__image,
  #r421 .x-casinoGameCardImageWrapper .x-casinoGameCardImageWrapper__image:hover
  {
    border-radius: 30px !important;
  }
  
  #iconOn{ display: none; }
  #iconOff{ display: none; }
  .menu-trigger #iconOn.active , .menu-trigger #iconOff.active {display: block;}
}

body {
  @media only screen and (max-width: 960px){
    padding-left: 75px;
  }
}
@media (min-width: 1279px) {
  #m251 .lazyLoad__wrapper div[class^="style__Container-sc"] div.am-flexbox.am-flexbox-justify-end.am-flexbox-align-center {
    width: 52%;
  }
  
  #m241 div.am-flexbox.am-flexbox-justify-end.am-flexbox-align-center {
    width: 42%;
  }
}

@media only screen and (max-width: 960px) {
  .style__BetCountWrapper-sc-nlog2h-0 {
    background-color: white !important;
  }
  .style__BetCountWrapper-sc-nlog2h-0 {
    width: 23px !important;
    height: 23px !important;
    font-size: 9px !important;
  }
  
  html [data-widget=BottomNavigation] {
    height: 50px!important;
  }
  
  /* Header */
  .row.headerRow {
    padding: 5px 0;
    display: -ms-grid!important;
    display: grid!important;
    grid-auto-rows: 1fr;
    -ms-grid-columns: 0.4fr 1fr 1.7fr;
    grid-template-columns: 0.4fr 1fr 1.7fr;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 64px;
  }
  #column665 {
    width: auto!important;
    max-width: 100%!important;
  }
  #column665 .column-container,
  #column667 .column-container {
    width: auto!important;
    display: block!important;
  }
  #column665 .module-container.only-mobile.align-left.ModuleLogo.first.last {
    padding: 0!important;
  }
  .full-width.module.ModuleLogo {
    max-width: 100%;
    padding-right: 15%!important;
    padding-top: 1px!important;
  }
  .full-width.module.ModuleLogo a > div{
    display: block;
    overflow: hidden;
  }
  .full-width.module.ModuleLogo a img {
    -webkit-transform: translateY(-50%)!important;
    -ms-transform: translateY(-50%)!important;
    transform: translateY(-50%)!important;
    top: 50%!important;
    position: absolute;
    top: 0;
    left: 0;
    max-width: inherit;
    width: 100% !important;
  }
  #column667 {
    width: 100%!important;
    max-width: 100%!important;
    width: auto!important;
    display: block!important;
    margin: 8px 0 0 0;
    padding: 5px 0px!important;
  }
  #column667 .module-container.only-mobile.align-left.ModuleWidgets.first.last {
    padding: 0!important;
    width: auto!important;
  }
  #m870 .full-width.module.ModuleWidgets {
    margin-right: 0!important;
  }
  .full-width.module.ModuleWidgets {
    max-width: 100%;
    width: 100%!important;
    margin-right: 10px!important;
    margin-left: 0!important;
    display: block!important;
    padding-right: 0px;
  }
  #column667 .full-width.module.ModuleWidgets > div[data-loaded="true"] {
    text-align: right;
  }
  #m263 div[class^="style__Wallet-sc"] div[class^="style__Balance-sc"] span {
    overflow: hidden;
    white-space: nowrap;
  }
  
  div[class^="AuthSection__ButtonsWrapper-sc"] {
    gap: 4px;
  }
  
  /* slick */
  #m853 .slick-slider,
  #m961 .slick-slider,
  #m959 .slick-slider,
  #m957 .slick-slider {
    min-height: 219px;
  }
  
  #m853 .slick-slider .slick-dots,
  #m961 .slick-slider .slick-dots,
  #m959 .slick-slider .slick-dots,
  #m957 .slick-slider .slick-dots {
    bottom: 2px !important;
    margin-bottom: 0;
  }
  #m853 .slick-slide div[class^="style__Wrapper-sc"],
  #m961 .slick-slide div[class^="style__Wrapper-sc"],
  #m959 .slick-slide div[class^="style__Wrapper-sc"],
  #m957 .slick-slide div[class^="style__Wrapper-sc"] {
    margin-top: 20px;
  }
  #m853 .slick-slide div[class^="style__Wrapper-sc"] .am-flexbox.am-flexbox-justify-end.am-flexbox-align-center,
  #m961 .slick-slide div[class^="style__Wrapper-sc"] .am-flexbox.am-flexbox-justify-end.am-flexbox-align-center,
  #m959 .slick-slide div[class^="style__Wrapper-sc"] .am-flexbox.am-flexbox-justify-end.am-flexbox-align-center,
  #m957 .slick-slide div[class^="style__Wrapper-sc"] .am-flexbox.am-flexbox-justify-end.am-flexbox-align-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    margin: 20px 0 0 !important;
  }
  #m853 div[class^="style__Wrapper-sc-"]
  .style__RadioButton-sc-3ucvic-2
  .style__Handicap-sc-3ucvic-0,
  #m853 .slick-slide [class^="style__Handicap-sc-"],
  #m961 div[class^="style__Wrapper-sc-"]
  .style__RadioButton-sc-3ucvic-2
  .style__Handicap-sc-3ucvic-0,
  #m961 .slick-slide [class^="style__Handicap-sc-"],
  #m959 div[class^="style__Wrapper-sc-"]
  .style__RadioButton-sc-3ucvic-2
  .style__Handicap-sc-3ucvic-0,
  #m959 .slick-slide [class^="style__Handicap-sc-"],
  #m957 div[class^="style__Wrapper-sc-"]
  .style__RadioButton-sc-3ucvic-2
  .style__Handicap-sc-3ucvic-0,
  #m957 .slick-slide [class^="style__Handicap-sc-"] {
    display: none;
  }
  
  #m853 .liveGame__wrapper div[class^="style__Container-sc"] div.am-flexbox.am-flexbox-justify-end.am-flexbox-align-center,
  #m961 .liveGame__wrapper div[class^="style__Container-sc"] div.am-flexbox.am-flexbox-justify-end.am-flexbox-align-center,
  #m959 .liveGame__wrapper div[class^="style__Container-sc"] div.am-flexbox.am-flexbox-justify-end.am-flexbox-align-center,
  #m957 .liveGame__wrapper div[class^="style__Container-sc"] div.am-flexbox.am-flexbox-justify-end.am-flexbox-align-center {
    width: 44% !important;
  }
  
  #m853 div.am-flexbox.am-flexbox-justify-end.am-flexbox-align-center .style__RadioButton-sc-3ucvic-2,
  #m961 div.am-flexbox.am-flexbox-justify-end.am-flexbox-align-center .style__RadioButton-sc-3ucvic-2,
  #m959 div.am-flexbox.am-flexbox-justify-end.am-flexbox-align-center .style__RadioButton-sc-3ucvic-2,
  #m957 div.am-flexbox.am-flexbox-justify-end.am-flexbox-align-center .style__RadioButton-sc-3ucvic-2 {
    padding: 0;
    text-align: center;
    min-width: 40px;
  }
  
  #m853 .liveGame__wrapper div[class^="style__Container-sc"] .am-flexbox,
  #m853 .banner_jogos div[class^="style__Container-sc"] .am-flexbox,
  #m853 .lazyLoad__wrapper div[class^="style__Container-sc"] .am-flexbox,
  #m961 .liveGame__wrapper div[class^="style__Container-sc"] .am-flexbox,
  #m961 .banner_jogos div[class^="style__Container-sc"] .am-flexbox,
  #m961 .lazyLoad__wrapper div[class^="style__Container-sc"] .am-flexbox,
  #m959 .liveGame__wrapper div[class^="style__Container-sc"] .am-flexbox,
  #m959 .banner_jogos div[class^="style__Container-sc"] .am-flexbox,
  #m959 .lazyLoad__wrapper div[class^="style__Container-sc"] .am-flexbox,
  #m957 .liveGame__wrapper div[class^="style__Container-sc"] .am-flexbox,
  #m957 .banner_jogos div[class^="style__Container-sc"] .am-flexbox,
  #m957 .lazyLoad__wrapper div[class^="style__Container-sc"] .am-flexbox  {
    width: 42%;
    float: right;
    margin-top: -50px; /* COMENT */
    height: 50px;
  }
  
  #m853 .slick-slider .slick-slide.slick-active.slick-current,
  #m961 .slick-slider .slick-slide.slick-active.slick-current,
  #m959 .slick-slider .slick-slide.slick-active.slick-current,
  #m957 .slick-slider .slick-slide.slick-active.slick-current {
    padding-right: 30px;
  }
  
  #m853 .slick-slider .slick-slide.slick-active.slick-current ~ .slick-slide, 
  #m961 .slick-slider .slick-slide.slick-active.slick-current ~ .slick-slide, 
  #m959 .slick-slider .slick-slide.slick-active.slick-current ~ .slick-slide, 
  #m957 .slick-slider .slick-slide.slick-active.slick-current ~ .slick-slide {
    margin-left: -30px;
  }
  
  #m853 .slick-slide div[class^="style__Container-sc"],
  #m961 .slick-slide div[class^="style__Container-sc"],
  #m959 .slick-slide div[class^="style__Container-sc"],
  #m957 .slick-slide div[class^="style__Container-sc"] {
    padding: 0px 5px 10px;
  }
  
  /* esportes */
  #m239 .match-card__container div[class^="style__Header-sc-"] {
    padding-right: 52%;
  }
  #m239 div[class^="style__Wrapper-sc-"]
  .style__RadioButton-sc-3ucvic-2
  .style__Handicap-sc-3ucvic-0,
  #m239 .slick-slide [class^="style__Handicap-sc-"] {
    display: none;
  }
  
  #m239 div[class^="style__Wrapper-sc-"] div[class^="style__Header-sc-vig7k4-2"] > span{
    background-color: unset;
  }
  
  #m239 .lazyLoad__wrapper div[class^="style__Container-sc"] div.am-flexbox.am-flexbox-justify-end.am-flexbox-align-center {
    width: 50%;
  }
  #m239 .lazyLoad__wrapper div[class^="style__Container-sc"] div.am-flexbox.am-flexbox-justify-end.am-flexbox-align-center div[class^="style__RadioButton-sc"] {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  
  #m239 .liveGame__wrapper div[class^="style__Container-sc"] .am-flexbox,
  #m239 .banner_jogos div[class^="style__Container-sc"] .am-flexbox,
  #m239 .lazyLoad__wrapper div[class^="style__Container-sc"] .am-flexbox {
    width: 42%;
    float: right;
    margin-top: -44px; /* COMENT */
    height: 50px;
  }
  
  #m239 .lazyLoad__wrapper div[class^="style__Container-sc"] .am-flexbox {
    margin-top: -53px;
  }
  
  /* Ao vivo */
  #m241 div[class^="style__Wrapper-sc-"]
  .style__RadioButton-sc-3ucvic-2
  .style__Handicap-sc-3ucvic-0,
  #m241 .slick-slide [class^="style__Handicap-sc-"]{
    display: none;
  }
  
  #m241 div[class^="style__Wrapper-sc-"] div[class^="style__Header-sc-vig7k4-2"] > span {
    background-color: unset;
  }
  #m241 .liveGame__wrapper div[class^="style__Container-sc"] div.am-flexbox.am-flexbox-justify-end.am-flexbox-align-center {
    width: 44% !important;
  }
  
  #m241 div.am-flexbox.am-flexbox-justify-end.am-flexbox-align-center .style__RadioButton-sc-3ucvic-2 {
    padding: 0;
    text-align: center;
    min-width: 40px;
  }
  
  #m241 .liveGame__wrapper div[class^="style__Container-sc"] .am-flexbox,
  #m241 .banner_jogos div[class^="style__Container-sc"] .am-flexbox,
  #m241 .lazyLoad__wrapper div[class^="style__Container-sc"] .am-flexbox {
    width: 42%;
    float: right;
    margin-top: -44px; /* COMENT */
    height: 50px;
  }
  
  div[class^="style__Container-sc"]
  .am-flexbox
  [class^="style__Coeficient-sc"] {
    text-align: center;
    width: 100%;
    display: block;
    font-weight: 900;		
  }
  
  /* MOBILE - AO VIVO */
  #m241 .match-card__container div[class^="style__Header-sc-"] {
    padding-right: 45%;
  }
  
  #m241#w1w2 {
    padding-left: 47% !important;
    padding-right: 0px !important;
  }
  
  #m241 #w1w2 {
    padding-left: 55% !important;
  }
  
  /* home nome components */
  #m875 .x-casinoGamesByCategories__categoryName {
    justify-content: flex-start;
    align-items: center;
    position: relative;
  }
  #m871 .uc-content span {
    display: flex;
  }
  #m875 .x-casinoGamesByCategories__categoryName svg,
  #m871 .uc-content span svg {
    order: -1;
    margin-right: 10px;
    width: 18px;
  }
  #m875 .x-casinoGamesByCategories__categoryName svg,
  #m875 .x-casinoGamesByCategories__categoryName svg path,
  #m875 .x-casinoGamesByCategories__categoryName svg rect,
  #m875 .x-casinoGamesByCategories__categoryName svg ellipse,
  #m871 .uc-content span svg path {
    fill: var(--v3-text-color);
  }
  #m875 .x-casinoGamesByCategories__categoryName__viewAll {
    right: 0;
    position: absolute;
  }
  
  
  /* menu inferior */
  #bottom-navigation {
    height: 50px!important;
    overflow: initial;
  }
  
  #bottom-navigation > div > span{
    width: 18px;
    height: auto!important;
  }
  
  #bottom-navigation #button-menu .bg-navigation {
    width: 60px;
    height: 60px;
    position: fixed;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    background: var(--v3-black-2);
    border-radius: 100px;
    bottom: 10px;
    z-index: 999;
    text-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  #bottom-navigation > div:nth-child(5) {
    order: 6;
  }
  
  #bottom-navigation .dpOJAN {
    position: absolute;
    top: -8px;
    right: -8px;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    background-color: var(--v3-error-color);
    border: 1px solid var(--v3-black-0);
    color: var(--v3-black-0);
    font-size: 7px;
    font-weight: bold;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
  }
  
  body .main-container {
    padding: 0 7.5px;
  }
  
  .sportsHeader-titleWrapper {
    width: 100% !important;
  }
  
  .Atoz-searchWrapper {
    padding: 10px;
  }
  
  #iconOn,
  #iconOff {
    display: none;
  }
  
  #iconOn.active,
  #iconOff.active {
    display: block
  }
  
  #lateral-menu {
    height: 0;
    display: none;
  }
  
  #lateral-menu .bg-navigation {
    position: absolute;
    width: 100%;
    height: 40px;
    top: 0;
    background: var(--v3-black-2);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  
  #lateral-menu .bg-navigation .position-button {
    position: absolute;
    width: 60px;
    height: 60px;
    margin: 0 auto;
    top: 5px;
    background: var(--v3-black-2);
    border-radius: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  
  #lateral-menu > div {
    padding-left: 0
  }  
  #lateral-menu .menu-item {
    padding-left: calc((75px / 2) - 25px / 2);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row;
    flex-flow: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
  } 
  #lateral-menu .menu-item > div {
    width: auto;
    max-width: 25px;
  }
  #lateral-menu .menu-item span {
    color: #fff;
    position: relative;
    right: initial;
    left: initial;
    margin-left: 15px;
    display: none;
    width: 100%;
    white-space: initial;
    top: initial;
    height: 100%;
    line-height: normal;
  }
  
  #social-media-menu {
    position: fixed;
    top: calc(100vh - 55px);
  }
  
  #lateral-menu.active .menu-item span{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  #lateral-menu .module.ModuleLanguageSwitcher {
    padding-left: calc((75px / 2) - 25px / 2);
    padding-right: calc((75px / 2) - 25px / 2);
  }
  
  #lateral-menu.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100vh;
    border: none;
  }
  
  #lateral-menu.customMenu.customMenu--open {
    -webkit-animation: 0.3s ease 0s 1 normal forwards running openMenu;
    animation: 0.3s ease 0s 1 normal forwards running openMenu;
  }
  
  #lateral-menu.customMenu.customMenu--close {
    -webkit-animation: 0.3s ease 0s 1 normal forwards running closeMenu;
    animation: 0.3s ease 0s 1 normal forwards running closeMenu;
  }
  
  /* animation */
  @-webkit-keyframes openMenu {
    0% {
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
      opacity: 1;
      -webkit-transform: translateY(100%);
      transform: translateY(100%);
    }
    
    20% {
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
      -webkit-transform: translateY(80%);
      transform: translateY(80%);
    }
    
    
    40% {
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
      -webkit-transform: translateY(60%);
      transform: translateY(60%);
    }
    
    60% {
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
      -webkit-transform: translateY(40%);
      transform: translateY(40%);
    }
    
    
    80% {
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
      -webkit-transform: translateY(20%);
      transform: translateY(20%);
    }
    
    100% {
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
      opacity: 1;
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  }
  @keyframes openMenu {
    0% {
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
      opacity: 1;
      -webkit-transform: translateY(100%);
      transform: translateY(100%);
    }
    
    20% {
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
      -webkit-transform: translateY(80%);
      transform: translateY(80%);
    }
    
    
    40% {
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
      -webkit-transform: translateY(60%);
      transform: translateY(60%);
    }
    
    60% {
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
      -webkit-transform: translateY(40%);
      transform: translateY(40%);
    }
    
    
    80% {
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
      -webkit-transform: translateY(20%);
      transform: translateY(20%);
    }
    
    100% {
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
      opacity: 1;
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  }
  
  /* animation  */
  @-webkit-keyframes closeMenu {
    0% {
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
      opacity: 1;
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    
    20% {
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
      -webkit-transform: translateY(20%);
      transform: translateY(20%);
    }
    
    
    40% {
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
      -webkit-transform: translateY(40%);
      transform: translateY(40%);
    }
    
    60% {
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
      -webkit-transform: translateY(60%);
      transform: translateY(60%);
    }
    
    
    80% {
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
      -webkit-transform: translateY(80%);
      transform: translateY(80%);
    }
    
    100% {
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
      opacity: 1;
      -webkit-transform: translateY(100%);
      transform: translateY(100%);
    }
  }
  @keyframes closeMenu {
    0% {
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
      opacity: 1;
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    
    20% {
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
      -webkit-transform: translateY(20%);
      transform: translateY(20%);
    }
    
    
    40% {
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
      -webkit-transform: translateY(40%);
      transform: translateY(40%);
    }
    
    60% {
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
      -webkit-transform: translateY(60%);
      transform: translateY(60%);
    }
    
    
    80% {
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
      -webkit-transform: translateY(80%);
      transform: translateY(80%);
    }
    
    100% {
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
      opacity: 1;
      -webkit-transform: translateY(100%);
      transform: translateY(100%);
    }
  }
  
  #lateral-menu .menu-trigger {
    position: relative;
    margin: 0;
    color: #fff;
    padding: 0;
    left: initial;
    right: initial;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  
  #button-chat {
    width: 20%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  
  #button-menu {
    width: 20%;
    height: auto;
    position: relative;
    left: 0;
    top: 0;
    z-index: 99;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  
  #button-chat a svg {
    width: 18px;
  }
  
  #button-menu .menu-trigger {
    position: relative;
    top: initial;
    right: 0;
    left: 0;
    margin-left: 0;
    color: #fff;
    cursor: pointer;
    padding-left: 0;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    width: auto;
    height: auto;
  }
  
  #bottom-navigation div[class^="style__TabName-sc-"] {
    display: none;
  }
  
  #bottom-navigation #button-menu #iconOn,
  #bottom-navigation #button-menu #iconOff {
    width: 24px;
  }
  
  .x-casinoGameCardMobile {
    border-radius: 8px;
  }
  
  #column656 .column-container.vertical-top {
    border: 2px solid var(--v3-primary-6);
    border-radius: 0px;
    padding: 5px 0px;
    border-right: 0;
    border-left: 0;
  }
  
  #lang-switcher-884.languages .main-language {
    background: transparent!important;
    border: none!important;
    padding: 0!important;
  }
  
  #lang-switcher-884.languages ul li {
    background: transparent!important;
    border: none!important;
  }
  
  #lang-switcher-884 .main-language .name {
    color: #fff!important;
    font-size: 14px!important;
    font-family: var(--font-family)!important;
  }
  
  #lang-switcher-884.languages ul li a{
    border: none!important;
  }
  
  #lang-switcher-884.languages ul li a .name{
    color: #fff!important;
    font-size: 14px!important;
    font-family: var(--font-family)!important;
  }
  
  #social-media-menu .social-media-menu-container {
    background: var(--v3-primary-6);
  }
  
  #social-media-menu .social-media-menu-container a,
  #social-media-menu .social-media-menu-container span {
    width: 35px;
  }
}

/* only ios */
@supports (-webkit-touch-callout: none) {
  /* slick */
  #m853 .slick-slider,
  #m961 .slick-slider,
  #m959 .slick-slider,
  #m957 .slick-slider {
    min-height: 219px;
    height: 100%;
  }
  
  .admin .main-typography .mobile [data-widget=SelectedSport], html .mobile [data-widget=SelectedSport],
  .admin .main-typography [data-widget=SelectedSport], html [data-widget=SelectedSport] {
    height: 100% !important;
  }
}

/* Overwrite desktop home galery */
.animated-907.gallery {
  justify-content: center;
  padding: 20px 0;
}

.animated-907.gallery > div.uc-masonry-item-block:first-child {
  width: 34.85% !important;
}

.animated-907.gallery > div {
  width: 25%;
}

.animated-907.gallery > div > div > div > .effect-block {
  border-radius: 20px;
  box-shadow: 0px 3px 6px #00000029;
}

/* Loading popup */
#loading-wrapper {
  background-color: #18201D;
  z-index: 9999;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

#loading-wrapper > img{
  width: 200px;
}

.loading-body {
  overflow-y: hidden !important;
}